html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td { list-style:none;border: 0; margin: 0; padding: 0; vertical-align: baseline; font-size: 100%; font: inherit; -webkit-text-size-adjust: none; }
body { line-height: 1; }
table { border-collapse: collapse; border-spacing: 0; }
object, :focus { outline: none; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section /* HTML 5 */ { display: block; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
a img { border: none; }
a{ text-decoration: none;}
input,button,textarea,select,optgroup,option{ font-size: 100%; font: inherit; }


body{
    background: #EEEEEE;
}
/*comm样式*/
.lf{float: left}
.rt{float: right}
#header{
    width: 82%;
    min-width: 500px!important;
    height: 30px;
    padding: 15px 15px 15px 1%;
    margin: 20px auto;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}
.title{
    color: #999999;
    font-size: 16px;
    line-height: 30px;
    text-shadow: 0px 0px 1px transparent;
}
.title_i{
    font-size: 12px;
    color: #999999;
}
.title_i a{
    color:#999;

}
#header a{
     color:  #000;
 }

#warp{
    width:84%;
    min-width:300px !important;
    margin: 0px auto;
    padding: 3.5% 6% 2% 10%;
    box-shadow: #dddddd 1px 2px 3px;
    -moz-box-shadow: #dddddd 1px 2px 3px;
    -webkit-box-shadow: #dddddd 1px 2px 3px;
    border-radius:1px;
    background-color: #FFFFFF;
    overflow:scroll;
    overflow-x:hidden;
}
.list{
    width:100%;
    margin: 10px auto;
    overflow: hidden;
}
.content {
    float: left;
    width:65px;
    height:65px;
    line-height: 65px;
    background:#ccc;
    margin:1px;
    padding:10px;
    text-align: center;
    border-radius: 120px;
    margin-left: 15px;
    font-size: 26px;
}

.content a{
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    color: #ffffff;
}

.content a:hover{
    color:#fff;
}

.main{

    height: 500px;
    width:95%;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

.main hr{
    margin: 50px auto;
    width:100%;
    border: 1px dashed #ccc;
    float: left;
}

.tit_name{
    font-size: 14px;
    color:#999999;
    line-height: 50px;
}

.designWorks li{
    margin: 20px;
    float: left;
}

.designWorks li img{
    opacity:0.3;
    height:180px;
    width:315px;
}

.website{
    margin: 20px;
    width: 100%;
    height: 120px;
}

.website li a{
    color: #ccc;
    line-height: 36px;
    font-size: 14px;
    padding:3px 10px;
    color:#fff;
}

.targets{
    font-size: 12px;
    color:#999999;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    background: #444;
    border-radius: 6px;
    padding:1px 5px;
    line-height: 15px;
}

#footer{
    width: 82%;
    height: 30px;
    padding: 15px 15px 15px 0;
    margin: 20px auto;
    text-align:right;
}

.target{
    font-size: 14px;
    color:#999999;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

.b{
    background: #000;
    border-radius: 6px;
    padding:0 4px;
}