.three {
    width: 500px;
    margin: 50px auto;
    padding: 50px;
    border: 1px solid #e6e6e6;
    overflow: hidden;
}

.chooseCity, .chooseCityList {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.chooseCity span {
    width: 31%;
    height: 40px;
    line-height: 40px;
    display: block;
    font-size: 12px;
    color: #ccc;
    border: 1px solid #ccc;
    padding: 0 5%;
    box-sizing: border-box;
    position: relative;
}

.chooseCity span:nth-child(1) {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
}

.chooseCity span:nth-child(2) {
    margin: 0 auto;
}

.chooseCity span:nth-child(3) {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
}

.chooseCityList section {
    width: 31%;
    display: block;
    line-height: 40px;
    font-size: 12px;
    color: #ccc;
    padding: 0 5%;
    box-sizing: border-box;
    background: #fff;
    position: relative;
    z-index: 2;
    overflow-y: scroll;
    border: solid #ccc;
    border-width: 0 1px 1px;
    height: 160px;
}

.chooseCityList section:nth-child(1) {
    float: left;
}

.chooseCityList section:nth-child(2) {
    margin: 0 auto;
    position: relative;
}

.chooseCityList section:nth-child(3) {
    float: right;
}

.chooseCityList section span {
    width: 100%;
    display: block;
}

.chooseCityList section span.active {
    color: #ee3333;
}
