/* css rest */
*{margin:0;padding:0;}
body, html { font-size:12px; font-family:"microsoft yahei",Arial; color:#000;}
a{text-decoration:none;color:#000;cursor:pointer;}
a:hover{color:#07f;}
i,b,em{font-style:normal;}

/* box */
.myDate {width: 800px;margin: 50px auto 0;padding: 25px;border: 1px solid #e6e6e6;overflow: hidden;box-sizing: border-box;}

/* 日历 */
.Mytime {box-sizing: border-box;width: 345px;height: 345px;padding: 10px;float: left;border: 1px solid #e6e6e6;}

/* 日历标题 */
.dateTitle {text-align: center;font-size: 14px;color: #333;font-weight: bold;}
.dateList .week {overflow: hidden;}
.dateList .week span {width: 45px;height: 45px;line-height: 45px;float: left;text-align: center;box-sizing: border-box;}
.dateList .day {overflow: hidden;margin-top: 10px;padding-right: 1px;padding-bottom: 1px;}
.dateList .day span {width: 45px;height: 45px;line-height: 45px;border: 1px solid #e6e6e6;float: left;text-align: center;margin-right: -1px;margin-bottom: -1px;display: inline-block;}
.dateList .day span i {display: inline-block;width: 100%;height: 100%;box-sizing: border-box;}

/* 日历中用到的样式 */
.placeholderSpan {border: 1px solid transparent !important;}
.Mytime {position: relative;overflow: hidden;}
.Mytime #prev, .Mytime #next {cursor: pointer;width: 25px;height: 25px;text-align: center;line-height: 20px;}
.Mytime #prev {position: absolute;left: 0;top: 0;}
.Mytime #next {position: absolute;right: 0;top: 0;}
.first{overflow: hidden;width: 345px;float: left;user-select: none;}
.last{overflow:hidden; margin-left: 20px;width: 345px;float: left;user-select: none;}

/* 交互事件样式 */
.start {background: #666;}
.end {background: #666;}
.interval {background: #999;}
.unClick {color: #ccc;}
