<!DOCTYPE html>
<html lang="en" ng-app="sayApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>控制器</title>
</head>
<script src="http://code.angularjs.org/1.2.25/angular.min.js"></script>
<body >
  
  <div ng-controller="SayCtrl">
    <button ng-click="sayHi()">Hi</button>
    <button ng-click="sayWhat()">What</button>
    <p>say {{ msg }}!</p>
  </div>
  

<script>

  angular.module('sayApp', [])
    .controller('SayCtrl', ['$scope', function($scope) {
      $scope.msg = 'why';

      $scope.sayHi = function() {
        $scope.msg = 'Hi';
      }

      $scope.sayWhat = function() {
        $scope.msg = 'What'
      }
    }])

</script>
</body>
</html>